Investigabot RAG.json
{
  "name": "Investigabot RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13I2xrCNULy95-iTkOaL_RIkD9HR5nP1t",
          "mode": "list",
          "cachedResultName": "Biblioteca RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13I2xrCNULy95-iTkOaL_RIkD9HR5nP1t"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "ad428a9a-2ac3-4761-8723-8cc7f9355977",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rJYRbZ4p59lDmVbl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        200
      ],
      "id": "f7b6f303-d91c-4eed-8601-cc54566a8615",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rJYRbZ4p59lDmVbl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragplatzi",
          "mode": "list",
          "cachedResultName": "ragplatzi"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        460,
        0
      ],
      "id": "c52756ae-3f19-44e3-81ab-5229d31f5284",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YdGj11iCbJHP5neu",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "7099b6ff-1f03-4aa1-84fc-e0643ad0e4e4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EuAQrGtST8w0NdxV",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        720,
        240
      ],
      "id": "3160bf4b-a040-4b7a-be0a-fa5f4e296106",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        720,
        440
      ],
      "id": "e16d45ec-5311-460e-bccd-ed9eb45ac39a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## cargar informaición a nuestra base de datos vectorial ",
        "height": 600,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        -20
      ],
      "typeVersion": 1,
      "id": "fb9ef07b-6b83-49db-85b9-14416d79263d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Consultar la base de datos vectorial",
        "height": 600,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        820
      ],
      "typeVersion": 1,
      "id": "cfdc6a4f-45cb-4677-85d4-d19f6fc378a1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        860
      ],
      "id": "65236047-255e-4e68-a3ba-01279a76b909",
      "name": "When chat message received",
      "webhookId": "4c2a064a-c1f6-459a-9ebb-a58dca315678"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente personal. Tu funcion es identificar que es lo que quiere buscar el usuario referente a cosméticos en Pinecone Vector Store. Responde de forma concreta, sólo referente a la información que consultas en pinecone. En tu respuesta, Siempre coloca como referencia la fuente de datos del documento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        860
      ],
      "id": "4743081b-c284-4152-aea6-6ee5f1b78d64",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        1080
      ],
      "id": "855ad857-9a14-4ff0-802e-068f04830821",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EuAQrGtST8w0NdxV",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta mi biblioteca especializada",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragplatzi",
          "mode": "list",
          "cachedResultName": "ragplatzi"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        460,
        1082.5
      ],
      "id": "5b77eaae-eb1f-4bdc-b341-0ef8862bc1cc",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "YdGj11iCbJHP5neu",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        1280
      ],
      "id": "1e958a2c-2fbd-4a26-9445-c8541a836c3d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "EuAQrGtST8w0NdxV",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        1080
      ],
      "id": "d6f6e13e-558f-444a-ac87-7c2227aefe88",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8132659-da55-4e56-8c5b-4c0e3479095d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bb6f6cfcb98cb6e9429e2b5750d1c8fda0a978528383172424fd2f1cea89048"
  },
  "id": "VYrBN6Ba3Xuyjadg",
  "tags": []
}